body {
    background-color: #232323;
}

h1 {
    color: #fff;
    text-align: center;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background-color: pink;
    margin: 1.66%;
    float: left;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

span {
    color: #fff;
}